/* general setup */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: smaller;
  font-weight: lighter;
}
input[type=submit], input[type=radio] { display: none; }

/* variables */
:root {
  --height: 40px;
  --close-column-width: 60px; /* should be height + 20 */
}

/* grid setup */
tab-item form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 90px auto var(--close-column-width);
  grid-template-areas: "thumbnail content close";

  height: var(--height);
  border-left:2px solid;
  align-items: center;
  padding: 5px;
}

tab-item .tab-thumbnail { grid-area: thumbnail; }
tab-item .tab-favicon   { grid-area: thumbnail; }
tab-item .tab-content   { grid-area: content; }
tab-item .tab-close     { grid-area: close; }

/* focus / hover styles */
tab-item:focus form, tab-item form:hover {
  background-color: rgb(232, 232, 232);
}

tab-item:focus form img, tab-item form:hover img {
  opacity: 0.5;
}

/* label (grid cells) styling */
tab-item form label {
  height: 100%;
  display: grid;
  align-items: center;
  cursor: pointer;
}

/* label contents */
tab-item .thumbnail-image {
  height: var(--height);
  width: auto;
}

tab-item .favicon-image { 
  height: 15px;
  width: auto;
  align-self: end;
}

tab-item .tab-url {
  color: rgb(152, 152, 152);
}

tab-item .tab-close { 
  display: none;
  width: var(--height);
  font-size: x-large;
  place-content: center;
  border:1px solid rgb(208, 208, 208); 
  border-radius:6px;
}

tab-item:focus form .tab-close, tab-item form:hover .tab-close {
  display: inherit;
}

tab-item .tab-close:hover, tab-item .tab-close:focus { 
  background-color: rgb(208, 208, 208); 
}

/* colors */
.blue-marker {
  border-left-color: rgb(55, 173, 255) !important;
}